:root {
	--label-background-color: #CFE2FF;
	--label-text-color: #000080;
	
	--bs-body-font-family: Tahoma, Geneva, sans-serif;
	--bs-body-font-size: 11pt;
	--bs-body-color: #000080;
	--bs-button-border-color: #CFE2FF;
}

/* Bootstrap */

.row {
	margin-left: 2px;
	margin-right: 2px;
}

.form-check {
	padding-left: 0;
}

.table {	
	width: auto;
}

.table > :not(caption) > * > * {
	padding-top: 3px;
	padding-bottom: 3px;
	color: var(--bs-body-color);
}

i {
	font-size: 125%;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.form-select {
	width: auto;
	color: var(--bs-body-color);
	margin-right: 6px;
}

.form-check-label {
	color: var(--label-text-color);
	background-color: transparent;
	float: left;
	clear: none;
	width: auto;
	text-align: left;
}

.form-check-input {
	margin-right: 3px;
}

.form-floating > label {
	background-color: inherit;
}

label.btn {
	clear: none;
}

p.vr, li.vr {
	width: auto;
	background-color: inherit;
	opacity: 1;
}

/* Einde Bootstrap */

a, a:visited {
	color: inherit;
}

h1 {
	font-size: 155%;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}

h2, h3 {
	margin-top: 9px;
	margin-bottom: 1px;
}

h2 {
	font-size: 135%;
}

h3 {
	font-size: 120%;
}

img {
	border-style: none;
}

table {
	border-collapse: collapse;
	caption-side: top;
}

caption {
	text-align: center;
	color: var(--label-text-color);
	background-color: var(--label-background-color);
	font-size: 125%;
	white-space: nowrap;
	padding-left: 6px;
	padding-right: 6px;
}

tr {
	vertical-align: middle;
}

th {
	background-color: var(--label-background-color);
	vertical-align: middle;
}

ul {
	margin-top: 4px;
	margin-bottom: 1px;
}

li {
	margin-left: 0;
}

input, select, textarea {
	color: var(--bs-body-color);
	float: left;
}

input {
	padding-top: 2px;
	padding-bottom: 2px;
}

p {
	padding-top: 2px;
	margin-bottom: 3px;
}

p.uitleg {
	clear: none;
	float: left;
	margin-left: 5px;
	margin-top: 0;
	padding-top: 6px;
	font-style: italic;
}

p.error {
	color: red;
	font-weight: bold;
}

input.readonly {
	background-color: #e8eaea;
}

span {
	white-space: nowrap;
	display: inline-block;
	margin-top: 0;
	padding-top: 0;
}

label {
	float: left;
	clear: left;
	margin-right: 5px;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: var(--label-background-color);
	color: var(--label-text-color);
}

footer {
	clear: both;
	background-color: #f0f0f0;
	height: auto;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 2px;
	padding-right: 2px;
	font-style: italic;
	font-size: 80%;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}

footer a, footer a:visited {
	text-decoration: underline;
	color: inherit;
}

form p {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 3px;
}

div.btn-fixed-top-right {
	float: right;
	clear: none;
}

input[type='email'] {
	width: 250px;
}

header {
	height: 45px;
	
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	
	padding-bottom: 0;
	padding-top: 6px;
	padding-left: 0;
	padding-right: 0;
	
	background-color: #0dcaf0;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

header h1 {
	float: left;
	margin-top: 3px;
	padding-left: 4px;
	overflow: hidden;
}

#filter {
	overflow: auto;
	margin-right: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-width: 1px;
	min-height: 46px;
}

#filter label {
	clear: none;
	margin-top: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0;
}

#filter p {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 4px;
}

#filter input[type='text'], #filter input[type='number'], #filter input[type='date'] {
	clear: none;
	float: left;
	margin-left: 0;
	margin-right: 6px;
	margin-top: 4px;
	margin-bottom: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#filter input[type='text'] {
	width: 185px;
}

#filter input[type='number'] {
	width: 100px;
}

#filter select {
	clear: none;
	float: left;
	margin-left: 3px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 3px;
	width: 185px;
}

#filter span {
	background-color: transparent;
	margin-top: 1px;
	padding-top: 0;
}

#filter button {
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 6px;
	margin-right: 0;
}

#filter .form-check-input {
	margin-left: 0;
	margin-right: 4px;
}

#filter .form-check-label {
	margin-top: 3px;
	margin-bottom: 1px;
}

#filter p.aantrecords {
	float: right;
}

#filter .waarde {
	clear: none;
	float: left;
	margin-top: 5px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

tr.subkop {
	color: var(--label-text-color);
	background-color: var(--label-background-color);
}

input.w2 {
	width: 30px;
}

input.w3 {
	width: 35px;
}

input.w4 {
	width: 45px;
}

input.w5 {
	width: 60px;
}

input.w6 {
	width: 55px;
}

input.w7 {
	width: 76px;
}

input.w8 {
	width: 78px;
}

input.w9, input.w10 {
	width: 98px;
}

input.bedrag {
	width: 55px;
	text-align: right;
}

input.d8 {
	width: 95px;
}

input.num2 {
	width: 52px;
}

input.num3 {
	width: 60px;
}

input.num5 {
	width: 90px;
}

input.w12 {
	width: 95px;
}

input.w15 {
	width: 100px;
}

input.w17, p.w17 {
	width: 150px;
}

input.w18 {
	width: 165px;
}

input.w20, select.w20 {
	width: 175px;
}

input.w21, input.w22 {
	width: 180px;
}

input.w25 {
	width: 210px;
}

input.w30 {
	width: 230px;
}

input.w35 {
	width: 260px;
}

input.w40 {
	width: 250px;
}

input.w45 {
	width: 322px;
}

input.w50 {
	width: 345px;
}

input.w55 {
	width: 365px;
}

input.w60 {
	width: 435px;
}

input.w70 {
	width: 475px;
}

input.w75 {
	width: 550px;
}

input.w80 {
	width: 575px;
}

input.w90, textarea.w90 {
	width: 600px;
}

input.w100 {
	width: 650px;
}

input.w110 {
	width: 750px;
}

input.w150 {
	width: 800px;
}

input.w250 {
	width: 625px;
}

button:disabled, button[disabled=disabled], .disabled {
	color: red;
}

header a + a:visited + a:hover {
	text-decoration: none;
	color: inherit;
}

th.rotate {
	height: 125px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: left;
	white-space: nowrap;
	background-color: transparent;
}
				
th.rotate > div {
	translate: 0 40px;
	transform: rotate(270deg);
	width: 42px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 7px;
	border-width: 1px;
	border-style: none;
	background-color: transparent;
}

h1#naamwebsite a {
	text-decoration: none;
}

/*
#welkomsttekst {
	float: right;
	display: inline-block;
	padding-top: 8px;
	padding-left: 8px;
	color: inherit;
}

#welkomsttekst a, #welkomsttekst a:visited {
	color: inherit;
}

#welkomsttekst p, #welkomsttekst h3 {
	clear: left;
	float: left;
}

#welkomsttekst ul {
	padding-left: 18px;
	clear: left;
	float: left;
}

#welkomsttekst li {
	padding-left: 3px;
	margin-top: 6px;
	margin-bottom: 6px;
}
*/

div#vervallendiplomas {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*

#kolomlinks, #kolomrechts {
	width: 48%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#kolomlinks {
	float: left;
	clear: left;
}

#kolomrechts {
	float: right;
	clear: right;
}

*/

#login .form-check-input {
	margin-left: 0;
}

#bijzonderhedenmuteren textarea {
	height: 120px;
}

#ledenlijst_instellingen label {
	width: 360px;
}

#ledenlijst_instellingen h2 {
	clear: both;
}

#ledenlijst_instellingen .form-check-input {
	margin-left: 0;
}

#ledenlijst_instellingen input.w110, #ledenlijst_instellingen textarea {
	width: calc(100% - 370px);
}

#detailsonderdeelmuteren label {
	clear: left;
	float: left;
	width: 225px;
}

#detailsonderdeelmuteren .form-check-input {
	margin-left: 0;
}

#detailsonderdeelmuteren textarea {
	margin-bottom: 4px;
	height: 100px;
	width: calc(100% - 235px);
}

#detailsonderdeelmuteren p {
	float: left;
}

/* admin.php */

table#beheerlogins {
	width: 100%;
}

table#beheerautorisatie {
	width: 100%;
}

#autorisatiesperonderdeel {
	clear: left;
	margin-top: 75px;
	border-width: 1px;
}

.beheerlogins a, #beheerautorisatie a {
  text-decoration: none;
}

#eigenlijstmuteren label {
	width: 225px;
}

#eigenlijstmuteren textarea#uitleg {
	height: 100px;
}

#eigenlijstmuteren textarea#mysql {
	height: 200px;
}

p.#uitleg_eigenlijst {
	clear: left;
}

#eigenlijstmuteren textarea {
	height: 200px;
	width: 100%;
}

table#templatesmuteren {
	float: left;
	clear: left;
}

form#templateedit {
	margin-top: 4px;
	margin-left: 6px;
}

#templateedit p {
	margin-top: 6px;
}

#templateedit textarea {
	width: calc(100% - 220px);
	height: 900px;
	margin-left: 6px;
}

#templateedit input {
	clear: left;
}

#algemeen_instellingen label {
	width: 525px;
}

#algemeen_instellingen .form-check-input {
	margin-left: 0;
}

#algemeen_instellingen input[type='number'] {
	width: 60px;
}

/* Einde admin.php */

#formulier input[type='text'] {
	margin-right: 6px;
	margin-top: 6px;
}

#resultaatlijst {
	clear: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	display: none;
}

p.sql {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}

td.details, td.muteren, td.detailregels, td.leden, td.sendmail, td.unlock {
	text-align: center;
}

td.trash {
	text-align: center;
}

table#deelnemersevenementmuteren {
	clear: left;
	width: 100%;
	margin-top: 12px;
}

.beheerwijzigingen a, #deelnemersevenementmuteren a, #deelnemersevenementmuteren a, #lijstoutbox a {
  text-decoration: none;
}

td.inagenda {
	text-align: center;
}

#overzichtlid {
	position: relative;
	display: inline-block;
	width: 100%;
}

#pasfoto {
	float: right;
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 12px;
	border-style: dashed;
	border-width: 1px;
	max-width: 325px;
	text-align: center;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#pasfoto img {
	max-width: 300px;
}

#overzichtlid h2 {
	float: left;
	clear: both;
	text-align: left;
	border-style: none;
	color: inherit;
}

#overzichtlid label {
	width: 175px;
}

#overzichtlid p {
	margin-top: 4px;
	float: left;
	overflow: visible;
}

#tab-introductie, #tab-stukken {
	padding-left: 12px;
	padding-right: 12px;
}

#tab-introductie h3 {
	margin-bottom: 0;	
}

#tab-introductie ul {
	margin-top: 0;
	padding-left: 18px;;
}

#tab-introductie li {
	margin-top: 2px;
	margin-bottom: 2px;
}

#tab-diplomas table > caption {
	white-space: nowrap;
}

#tab-groepen table, #tab-diplomas table, #tab-presentie table {
	min-width: 400px;
}

#nieuwepasfoto, #webshop {
	padding-top: 8px;
}

#algemeenlidmuteren {
	clear: left;
	float: left;
	border-style: none;
}

#algemeenlidmuteren select {
	max-width: calc(100% - 180px);
}

#financieellidmuteren label {
	width: 220px;
}

#financieellidmuteren .form-check-input {
	margin-left: 0;
}

#lidmaatschapmuteren .form-check-input {
	margin-left: 0;
	float: none;
}

#lidmaatschapmuteren td:nth-child(4) {
	text-align: center;
}

.ledenperonderdeelmuteren select {
	width: 150px;
}

#inschrijvenevenementen .row {
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: none;
	margin-top: 0;
	margin-bottom: 12px;
}

#inschrijvenevenementen .koprow {
	color: var(--label-text-color);
	background-color: var(--label-background-color);
	margin-top: 18px;
	margin-bottom: 0;
	border-top-style: solid;
}

#inschrijvenevenementen .col, #inschrijvenevenementen .col-2, #inschrijvenevenementen .col-3, #inschrijvenevenementen .col-4, #inschrijvenevenementen .col-5, #inschrijvenevenementen .col-6, #inschrijvenevenementen .col-md-auto {
	border-width: 1px;
	border-right-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	padding-left: 3px;
	padding-right: 3px;
}

#inschrijvenevenementen label, #inschrijvenevenementen input {
	clear: none;
	margin-top: 3px;
}

#inschrijvenevenementen p {
	margin-left: 0;
}

#inschrijvenevenementen .form-check-input {
	margin-left: 0;
	margin-right: 4px;
}

#inschrijvenevenementen .btn {
	min-width: 95px;
}

#inschrijvenevenementen textarea {
	margin-top: 3px;
	height: 100%;
	width: 100%;
}

.container#lidafmelden {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#lidafmelden .row {
	margin-bottom: 6px;
	margin-left: 0;
	border-width: 1px;
	border-bottom-style: solid;
}

#lidafmelden .koprow {
	color: var(--label-text-color);
	background-color: var(--label-background-color);
	margin-top: 12px;
	border-top-style: solid;
}

#lidafmelden .col, #lidafmelden .col-4, #lidafmelden .col-6, #lidafmelden .col-12 {
	border-left-style: solid;
	border-width: 1px;
	padding-left: 2px;
	padding-right: 1px;
}

#stukkenmuteren label, #website_inhoud label, #website_menu label {
	width: 175px;
}

#stukkenmuteren input[type='url'], #website_menu input[type='url'] {
	width: 750px;
}

#website_inhoud input.form-check-input, #website_inhoud div.form-switch {
	margin-left: 0;
	padding-left: 0;
}

#website_inhoud textarea {
	height: 600px;
	width: calc(100% - 20px);
	float: left;
	margin-bottom: 8px;
}

#website_inhoud textarea#tastyle {
	height: 350px;
	width: calc(100% - 220px);
}

div#website_bestanden {
	float: left;
	border-width: 1px;
	border-style: solid;
	width: calc(100% - 210px);
	height: auto;
}


#algemeenlidmuteren img {
	max-width: 250px;
}

#nieuwepasfoto {
	border-style: none;
	padding-left: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: auto;
}

#nieuwepasfoto img {
	margin-bottom: 5px;
}

textarea#sportlinkdata {
	width: 1000px;
	height: 450px;
	clear: right;
	float: left;
}

#sportlink button {
	float: left;
}

#agenda {
	margin-top: 16px;
}

#agenda .row {
	border-top-style: solid;
	border-right-style: solid;
	border-width: 1px;
}

#agenda .col {
	border-width: 1px;
	border-left-style: solid;
	padding-left: 1px;
	padding-right: 1px;
}

#agenda .dagnaam {
	text-align: center;
	font-weight: bolder;
	padding-top: 6px;
	padding-bottom: 6px;
}

#agenda ul {
	margin-left: 0;
	min-height: 120px;
}

#agenda ul.active {
	background-color: var(--label-background-color);
}

#tab-agenda table {
	width: 100%;
}

#tab-agenda tr {
	vertical-align: top;
	height: 80px;
}

#tab-agenda th {
	text-align: center;
}

#tab-agenda td {
	padding-left: 1px;
	width: 14%;
}

#tab-agenda tr:first-child {
	height: 40px;
}

#tab-agenda ul, #agenda ul {
	list-style-type: none;
	border-style: none;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#tab-agenda li, #agenda li {
	font-size: 85%;
	width: 100%;
	padding-left: 1px;
	padding-right: 1px;
}

#tab-agenda li:first-child, #agenda li:first-child {
	text-align: right;
	font-weight: bolder;
}

#toestemmingenmuteren .form-check-label {
	width: 400px;
	clear: none;
	text-align: left;
}

#toestemmingenmuteren input {
	clear: left;
}

table#afdelingskalendermuteren {
	clear: both;
	margin-top: 8px;
}

#afdelingskalendermuteren select {
	width: 300px;
}

#afdelingskalendermuteren td:nth-child(4) {
	text-align: center;
}

#afdelingskalendermuteren input {
	float: none;
}

#groepsindeling {
	border-style: none;
}

#groepsindeling h2 {
	margin-bottom: 6px;
	text-align: center;
	width: 100%;
	border-style: none;
	background-color: gainsboro;
	display: none;
}

#groepsindeling h3, #groepsindelingmuteren h3 {
	width: 100%;
	background-color: gainsboro;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}

#groepsindeling h3, #groepsindeling h4 {
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 0;
}

#groepsindeling h4 {
	margin-left: 2px;
	font-size: 100%;
	text-decoration: underline;
}

#groepsindelingmuteren h4 {
	width: 100%;
	font-size: 110%;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	color: var(--label-text-color);
	background-color: var(--label-background-color);
}

#groepsindelingmuteren .form-select {
	margin-right: 0;
}

#groepsindeling .row {
	padding-left: 0;
}

#groepsindeling .col {
	border-width: 1px;
	border-right-style: solid;
	padding-left: 1px;
}

#groepsindeling ol {
	margin-left: 0;
	padding-left: 28px;
	padding-right: 2px;
}

#groepsindeling li.wordtlid, td.wordtlid, tr.wordtlid {
	color: #00bfff;
	font-style: italic;
}

#groepsindeling li.heeftopgezegd, td.heeftopgezegd, tr.heeftopgezegd {
	font-weight: bolder;
	font-style: italic;
}

.gr22oepsindelingkolom {
	float: left;
	width: 24.6%;
	min-height: 220px;
	border-right-style: solid;
	border-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 12px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1px;
}

#groepenmuteren select {
	max-width: 180px;
}

#jubilarissen > #filter input[type='text'] {
	width: 275px;
}

#presentieoverzicht > #filter p {
	float: left;
	clear: none;
}

#presentieoverzicht table {
	min-width: 350px;
}

table#presentiemuteren td.aanwezig {
	text-align: center;
}

#presentieperlid th.teken {
	font-weight: bolder;
	cursor: pointer;
}

#presentieoverzicht td {
	min-width: 60px;
}

#presentieoverzicht td.NOK {
	font-weight: bolder;
}

#wachtlijst td, #afdelingswachtlijst td {
	height: 50px;
}

#afdelingsmailing h2 {
	width: 100%;
	font-size: 110%;
	clear: both;
	float: left;
	border-top-style: solid;
	border-width: 1px;
	margin-top: 8px;
}

#afdelingsmailing label {
	width: 210px;
}

#afdelingsmailing label.btn {
	width: auto;
}

#afdelingsmailing input.form-check-input {
	margin-left: 0;
	padding-left: 0;
}

#afdelingsmailing label.form-check-label {
	min-width: 210px;
}

#afdelingsmailing ul {
	clear: left;
	list-style-type: none;
	padding-left: 0;
}

#afdelingsmailing li {
  float: left;
  width: 210px;
}

#diplomamuteren, #examenresultaten {
	clear: both;
	height: auto;
}

#examenmuteren label, #examenmuteren p {
	float: left;
	clear: none;
}

#examenmuteren input[type='text'], #examenmuteren input[type='date'], #examenmuteren p {
	margin-right: 15px;
	margin-top: 1px;
}

#examenmuteren .form-check-input {
	margin-left: 0;
}

.kandidatengroep, .groepindelen {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 6px;
	
	margin-top: 10px;
	margin-bottom: 4px;
	margin-right: 20px;
	background-color: #f0f0f0;
}

.kandidatengroep table {
	margin-top: 0;
}

.kandidatengroep td {
	white-space: nowrap;
}

.groepindelen {
	min-width: 275px;
}

#dl_lijst {
	width: 780px;
	height: auto;
}

#dl_lijst img {
	float: left;
	clear: left;
	width: 350px;
}

#dl_lijst p#naamformulier, #dl_lijst p#naamdiploma {
	float: right;
	clear: right;
	font-size: 130%;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 0;
}

#dl_lijst label {
	float: left;
	clear: left;
	color: black;
	background-color: transparent;
	width: 125px;
	border-style: none;
	text-align: left;
}

#dl_lijst p {
	color: black;
	background-color: transparent;
	margin-top: 9px;
	float: left;
}

#dl_lijst table {
	margin-top: 25px;
	float: left;
	clear: left;
	width: 100%;
}

#dl_lijst th {
	font-weight: bolder;
	color: black;
	background-color: #80FFFF;
}

#dl_lijst td {
	color: black;
	background-color: transparent;
}

#dl_lijst td:first-child {
	width: 37px;
}

#dl_lijst td:nth-child(3) {
	width: 285px;
}

#dl_lijst td:nth-child(6), #dl_lijst td:nth-child(7) {
	width: 32px;
}

#dl_lijst div.onderblok {
	width: 240px;
	height: 155px;
	color: black;
	border-width: 1px;
	border-style: solid;
	margin-top: 30px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 18px;
	float: left;
}

#dl_lijst div.stempel {
	margin-right: 0;
	float: right;
	clear: right;
}

#dl_lijst div.onderblok > p {
	text-align: center;
	color: black;
	background-color: #80FFFF;
	height: 62px;
	width: 100%;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	border-width: 1px;
	border-bottom-style: solid;
}

#dl_lijst p#voetregel1 {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}

#dl_lijst p#voetregel2 {
	font-weight: bolder;
	margin-top: 0;
	padding-top: 0;
	font-size: 10pt;
}

.aftekenlijst table {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.aftekenlijst th {
	border-style: solid;
	border-width: 1px;
	width: 50px;
}

.aftekenlijst th:first-child {
	font-size: 160%;
	text-align: center;
	background-color: transparent;
}

.aftekenlijst td {
	border-style: solid;
	border-width: 1px;
	padding-left: 3px;
	padding-right: 3px;
	min-height: 50px;
}

.aftekenlijst td:nth-child(2) {
	max-width: 260px;
}

#diplomamuteren p {
	float: left;
	margin-left: 4px;
}

#diplomamuteren .form-check-input, #diplomamuteren .form-switch {
	margin-left: 0;
	padding-left: 0;
}

#examenresultaten label {
	min-width: 125px;
}

#diplomamuteren input#RecordID {
	width: 115px;
}

#diplomamuteren label {
	width: 200px;
}

tr.voorgangerontbreekt, td.voorgangerontbreekt {
	background-color: orange;
}

tr.dubbeldiploma, td.dubbeldiploma {
	background-color: yellow;
}

td.voortgangsprobleem {
	color: red;
}

#examenresultaten {
	margin-top: 8px;
}

#examenresultaten label, #examenresultaten input {
	clear: none;
	float: left;
}

#examenresultaten select {
	float: left;
	clear: left;
}

#examenresultaten button {
	float: left;
}

#versies {
	float: left;
	clear: left;
	border-style: solid;
	border-width: 1px;
	margin-top: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	text-align: center;
}

.nietdefinitief {
	background-color: red;
	color: white;
}

.lijst, .onderdelenperlid {
	margin-top: 6px;
	overflow: visible;
}

.lijst table, .onderdelenperlid table {
	min-width: 450px;
}

.lijst td + th, .onderdelenperlid td + th {
	padding-left: 6px;
	padding-right: 6px;
}

.logboek {
	clear: both;
	margin-top: 6px;
}

.logboek table {
	width: 100%;
}

.logboek td + th {
	padding-left: 3px;
	padding-right: 3px;
}

.gewijzigdestukken p {
	margin-left: 2px;
	margin-top: 12px;
}

#webshop select {
	max-width: 180px;
}

table#bestellingenperlid {
	margin-top: 18px;
}

#welkom {
	float: right;
	margin-top: 0;
	margin-right: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	text-align: left;
	border-left: 1px;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px;
	border-style: solid;
	border-bottom-left-radius: 9px;
}

#welkom p {
	clear: none;
	float: left;
	margin-top: 6px;
	margin-bottom: 0;
	margin-right: 8px;
}

#welkom i {
	margin-left: 4px;
	margin-right: 4px;
}

#login {
	overflow: auto;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
}

#login h2 {
	width: 100%;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

#login label {
	width: 125px;
}

#login input[type='submit'] {
	clear: left;
}

#login p {
	float: left;
	clear: right;
}

#loginaanvraag, #opvragenlidnr, #profielwijzigen, #opzegginglidmaatschap, #herstellenwachtwoord {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 475px;
	margin-bottom: 6px;
	padding-top: 8px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#opvragenlidnr input[type='email']{
	width: 225px;
}

#loginaanvraag label, #opvragenlidnr label, #herstellenwachtwoord label, #profielwijzigen label, #opzegformulier label {
	width: 150px;
}

#loginaanvraag input, #opvragenlidnr input, #herstellenwachtwoord input {
	float: left;
	clear: right;
	height: 22px;
	margin-left: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-width: 1px;
}

#loginaanvraag ul {
	float: left;
	clear: left;
}

#opzegformulier textarea {
	height: 130px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#profielwijzigen p, #herstellenwachtwoord p {
	clear: left;
	float: none;
}

#overzichtevenementen .row {
	margin-top: 6px;
	margin-bottom: 6px;
}

#overzichtevenementen .col {
	border-style: none;
	border-width: 1px;
	margin-right: 4px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #f0f0f0;
}

#overzichtevenementen ul {
	list-style-type: none;
	padding-left: 3px;
}

#overzichtevenementen li {
	float: left;
	width: 202px;
	margin-right: 6px;
	margin-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
}

#muteerevenement label {
	clear: none;
	float: left;
	width: 165px;
}

label#lblStarttijd, label#lblEindtijd, label#lblVerzameltijd {
	clear: none;
	width: 90px;
	margin-left: 6px;
}

#muteerevenement label#lblDatum, #muteerevenement label#lblOmschrijving, #muteerevenement label#lblLocatie, #muteerevenement label#lblOrganisatie, #muteerevenement label#lblTypeEvenement, #muteerevenement label#lblOpmaak, #muteerevenement label#lblInschrijvingOpen, #muteerevenement label#lblStandaardStatus, #muteerevenement label#lblGewijzigd, #muteerevenement label#lblDoelgroep {
	clear: left;
}

#muteerevenement label#lblMaxDeelnemers, #muteerevenement label#lblMaxPersonenPerDeelname, #muteerevenement label#lblMeerdereStartmomenten, #muteerevenement label#lblDeelnemers {
	width: auto;
	margin-left: 12px;
}

#muteerevenement .form-check-input {
	margin-left: 0;
}

fieldset {
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	border-width: 0;
}

fieldset h3 {
	margin-bottom: 12px;
}

#verstuurdemail {
	width: 100%;
	height: auto;
	clear: right;
	float: left;
}

#verstuurdemail textarea, #verstuurdemail .bericht {
	clear: left;
	float: left;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
	border-width: 1px;
}

#verstuurdemail .bericht p, #verstuurdemail .bericht ul {
	float: left;
	clear: both;
}

#verstuurdemail label, #editemail label {
	width: 150px;
}

#verstuurdemail label#lblIngevoerdDoor, #verstuurdemail label#lblGaNaar, #verstuurdemail label#lblEmail, #verstuurdemail label#lblEmailOntvanger {
	clear: none;
}

#verstuurdemail p {
	float: left;
	height: 20px;
	min-width: 300px;
	margin-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.wieiswie {
	display: inline-block;
	width: 100%;
}

.wieiswie h2.onderdeelnaam, .wieiswie h2.onderdeelemail {
	margin-top: 15px;
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-weight: bolder;
	font-size: 150%;
}

.wieiswie h2.onderdeelnaam {
	float: left;
	width: 50%;
}

.wieiswie h2.onderdeelemail {
	float: right;
	clear: right;
	width: 49%;
	text-align: right;
}

#wieiswie a, #wieiswie a:visited {
	color: inherit;
	text-decoration: none;
}

#mailing table, .lijstmailingen table {
	width: 100%;
}

#lijstontvangers img:hover {
	cursor: pointer;
}

.lijstmailingen td:last-child {
	text-align: center;
}

.ck-editor__editable {
   min-height: 500px;
} 	

#footerleft {
	float: left;
	margin-top: 0;
	padding-left: 4px;
}

#footerright {
	float: right;
	margin-top: 0;
	padding-right: 4px;
}

#opdrachtknoppen, #knoppenbalk {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	
	margin-top: 18px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 6px;
	border-style: solid;
	border-width: 1px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#opdrachtknoppen button, #knoppenbalk button {
	float: left;
	margin-left: 8px;
	cursor: pointer;
	height: 50px;
}

#opdrachtknoppen input[type='checkbox'], #knoppenbalk input[type='checkbox'] {
	margin-top: 9px;
}

#opdrachtknoppen i, #knoppenbalk i {
	font-size: 175%;
}

#opdrachtknoppen select, #knoppenbalk select, #knoppenbalk label {
	margin-left: 6px;
	margin-top: 6px;
}

#opdrachtknoppen p, #knoppenbalk p {
	float: right;
	margin-top: 6px;
	padding-top: 0;
}

#voorraadbeheer {
	empty-cells: hide;
}

#voorraadbeheer input[type='text'], #winkelwagen input[type='text'] {
	width: 400px;
}

.totalenbestellingen {
	margin-top: 15px;
}

.totalenbestellingen table {
	margin-left: auto;
	margin-right: auto;
}

div.clear {
	clear: both;
	height: 1px;
}

.details {
	text-align: center;
}

.details img {
	max-height: 24px;
}

th.number, td.number, input.number, th.nummer, td.nummer, input.nummer, th.bedrag, td.bedrag, input.bedrag, th.recordid, td.recordid, th.lidnr, td.lidnr {
	text-align: right;
}

td.boolean, td.checkbox {
	text-align: center;
}

td > input {
	margin: auto;
	float: none;
}

tr.gewijzigd, td.gewijzigd, li.gewijzigd {
	font-style: italic;
}
tr.vet {
	font-weight: bolder;
}

nav {
	width: 100%;
}

nav a.active {
	font-weight: bolder;
}

nav a {
	display: inline;	
	padding-right: 3px;
	border-width: 1px;
	border-right-style: solid;
	text-decoration: none;
	
}

#menu_l1, #menu_l2, #menu_l3 {
	padding-top: 4px;
	margin-left: 0;
}

#menu_l1 {
	overflow: auto;
	white-space: nowrap;
	min-height: 35px;
	border-width: 1px;
	border-style: none;
}

#menu_l1 > a {
	padding-top: 12px;
	padding-bottom: 6px;
}

#menu_l2 {
	font-size: 100%;
}

#menu_l3 {
	font-size: 90%;
}

#tabs {
	float: left;
	width: 100%;
}

.tablist2 ul, .tablist2 ul {
	width: 100%;
	clear: right;
	margin-bottom: 6px;
	padding-left: 2px;
}

.tablist1 li, .tablist2 li, .tablist3 li {
	float: left;
	font-style: normal;
	display: block;
	padding-bottom: 1px;
	border-style: solid;
	border-width: 1px;
}

.tablist2 li, .tablist3 li {
	font-size: 9pt;
	text-align: center;
	background-color: transparent;
	border-right-style: none;
	min-width: 80px;
	height: 18px;
	
	margin-top: 2px;
	margin-left: 0;
	margin-right: 0;
	
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.tablist2 li:first-child, .tablist3 li:first-child {
	border-left-style: none;
}

.tablist2 li.current, .tablist3 li.current {
	font-weight: bolder;
}

.tablist1 li a, .tablist1 li a:visited, .tablist2 li a, .tablist2 li a:visited , .tablist3 li a, .tablist3 li a:visited  {
   text-decoration: none;
	color: inherit;
}

.tablist2 li:hover, .tablist3 li:hover  {
   background-color: #cdcdcd;
}

.done {
	text-decoration: line-through;
	color: green;
}

.telaat {
	font-size: 110%;
	color: red;
}

.deleted {
	text-decoration: line-through;
	font-weight: bolder;
}

.vervallen {
	font-color: grey;
}

.mededeling, .mededeling a {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-style: solid;
	border-width: 1px;
	font-size: 125%;
	text-align: center;
}

.debug {
	font-size: 11pt;
	color: orange;
}

.listmergefields, .listrecipients, #lijstvariabelen, #lijstontvangers {
	list-style: none;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	margin-top: 0;
	min-height: 29px;
}

#lijstontvangers, #lijstvariabelen, #bijlagen, #meldingen {
	float: left;
	clear: right;
	max-width: 1050px;
	padding-top: 0;
	padding-left: 4px;
	padding-right: 4px;
}

#lijstontvangers, #lijstvariabelen {
	border-width: 1px;
	border-style: solid;
	margin-bottom: 4px;
}

#lijstontvangers ul, ul#lijstvariabelen {
	padding-left: 0;
	padding-right: 0;
}

.listmergefields li, .listrecipients li, #lijstontvangers li, #lijstvariabelen li {
	float: left;
	display: inline-block;
	margin-left: 3px;
	padding-left: 3px;
	height: 28px;
	min-width: 240px;
}

#meldingen li {
	display: block;
	margin-left: 3px;
	padding-left: 0;
}

#lijstvariabelen {
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 0;
	height: 40px;
}

#lblbeschikbarevariabelen span {
	float: none;
	clear: none;
	font-weight: bolder;
	font-size: 133%;
	background-color: inherit;
}

label#lblbeschikbarevariabelen, label#lblbijlagen, label#lblmeldingen {
	height: 42px;
	margin-bottom: 8px;
}

div.jarige {
	margin-top: 10px;
	height: 83px;
	width: 100%;
	line-height: 83px;
	float: left;
	clear: both;
}

.jarige img, .kaartje img {
	float: left;
	height: 82px;
	max-width: 100px;
	margin-right: 4px;
}

.kaartje {
	width: 310px;
	min-height: 90px;
	border-width: 1px;
	margin-right: 3px;
	margin-bottom: 3px;
	background-color: var(--label-background-color);
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.kaartje p {
	margin-left: 3px;
	margin-right: 3px;
}

p.naamkaderlid {
	margin-top: 8px;
	font-size: 11pt;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
}

p.functiekaderlid, p.mailkaderlid {
	text-align: center;
}

td.ed_status_B, td.ed_status_J {
	color: green;
}

td.ed_status_N {
	text-decoration: line-through;
	color: grey;
}

td.ed_status_X {
	color: grey;
}

#rekeningmuteren input[type='text'] {
	float: left;
}

#rekeningmuteren textarea {
	height: 75px;
}

#rekeningkopmuteren label {
	width: 210px;
}

#rekeningkopmuteren select {
	min-width: 260px;
}

#rekeningkopmuteren p {
	float: left;
	clear: none;
	margin-top: 3px;
	padding-left: 0;
	padding-top: 3px;
}

#rekeninginfo {
	float: right;
	clear: right;
	height: auto;
	padding-left: 6px;
	padding-right: 3px;	
	padding-top: 6px;
	padding-bottom: 3px;
	border-style: solid;
	border-width: 1px;
}

label#lblBET_TERM {
	clear: none;
	width: 160px;
	margin-left: 4px;
}

label#lblEersteRekeningNummer, label#lblVerzamelenPerGezin, label#lblKostenplaats, label#lblKostenplaatsGezinskorting, label#lblBedragGezinskorting {
	clear: none;
	width: auto;
	margin-left: 4px;
	padding-left: 4px;
}

#rekeninginfo label {
	width: 150px;
}

#rekeninginfo p {
	width: 380px;
}

p#laatsteemail {
	height: auto;
}

#rekeningregelsmuteren {
	float: none;
	height: auto;
	width: 100%;
	min-height: 320px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#rekeningregelsmuteren select {
	float: none;
	clear: none;
	display: inline;
}

table#rekeningregels {
	width: 100%;
	float: left;
	clear: both;
}

#rekeningregels table, #rekeningregels th, #rekeningregels td {
	border-width: 1px;
	border-collapse: collapse;
}

#rekeningregels th, #rekeningregels td {
	padding-left: 6px;
	padding-right: 6px;
}

#rekeningenaanmaken label {
	width: 250px;
}

label#lblEersteRekeningNummer, label#lblVerzamelenPerGezin, label#lblBedragGezinskorting {
	width: auto;
}

label#lblKostenplaats, label#lblKostenplaatsGezinskorting {
	width: 190px;
}

#rekeningenaanmaken .form-check-input {
	margin-left: 3px;
}

#rekeningenmailen ul, #rekeningenaanmaken ul {
	margin-left: 0;
	padding-left: 0;
}

#rekeningenmailen label {
	width: 200px;
}

#rekeningenmailen label.totenmet {
	clear: none;
	text-align: center;
	width: 90px;
	margin-left: 6px;
}

#rekeningenmailen .form-check-input {
	margin-left: 3px;
	margin-top: 8px;
}

#rekeningbetalingen label {
	width: 125px;
}

#rekeningbetalingen p {
	margin-top: 3px;
	padding-top: 4px;
	padding-right: 6px;
	display: inline;
	float: left;
}

#rekeningbetalingen button {
	float: left;
	margin-left: 30px;
	font-size: 110%;
}

#rekeningbetalingen td, #rekeningbetalingen th {
	min-width: 100px;
}

#rekeningbetalingen td:nth-child(3) {
	text-align: right;
}

#rekeningbetalingen td:last-child, #rekeningbetalingen th:last-child {
	min-width: 25px;
	text-align: center;
}

#rekeningenmailen li, #rekeningenaanmaken li {
	display: block;
	width: 33%;
	float: left;
	padding-left: 2px;
}

#rekeningenaanmaken li {
	width: 19%;
}

#rekening_instellingen h2 {
	clear: both;
}

#rekening_instellingen label {
	width: 325px;
}

#onderhoud p {
	margin-top: 4px;
	margin-bottom: 8px;
	clear: right;
	float: left;
}

#onderhoud button {
	float: left;
	clear: left;
	width: 300px;
	margin-bottom: 6px;
	margin-right: 6px;
}

#onderdelenmuteren h1 {
	color: #000080;
	text-align: center;
}

#onderdelenmuteren h2 {
	color: var(--label-text-color);
	background-color: var(--label-background-color);
	text-align: center;
	width: 100%;
}

#onderdelenmuteren select {
	margin-bottom: 5px;
}

#onderdelenmuteren input {
	float: left;
}

#mailingselectieleden {
	float: left;
	clear: right;
	height: auto;
	border-style: solid;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;	
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#mailingselectieleden button {
	float: right;
}

#instellingenmuteren h2 {
	clear: left;
	float: left;
	width: 100%;
	margin-top: 8px;
}

#instellingenmuteren .invoerblok {
	width: 100%;
	clear: right;
}

#instellingenmuteren input {
	float: left;
	margin-left: 8px;
	margin-top: 4px;
}

#instellingenmuteren textarea {
	float: left;
	margin-left: 8px;
	margin-top: 3px;
	padding-top: 0;
}

#instellingenmuteren p {
	padding-top: 12px;
	margin-left: 6px;
	height: 30px;
	margin-top: 3px;
	margin-bottom: 2px;
}

#instellingenmuteren input[type=number] {
	width: 60px;
}

input#db_folderbackup, input#naamwebsite, input#naamvereniging, input#urlvereniging {
	width: 350px;
}

#zs_voorwaardenbestelling {
	width: 500px;
}

#editmailingform label#lblrecordid, #editmailingform p#recordid {
	float: right;
}

#editmailingform label#lblrecordid {
	width: auto;
}

#editmailingform input[type='file'] {
	margin-top: 3px;
	margin-bottom: 3px;
}

#editmailingform label {
	width: 190px;
}

#editmailingform p {
	margin-top: 3px;
	margin-right: 8px;
	border-style: none;
	border-width: 1px;
}

#editmailingform .form-check-label {
	background-color: var(--label-background-color);
}

#editmailingform .form-check-input {
	margin-left: 0;
	margin-right: 8px;
}

#editmailingform textarea {
	width: 1250px;
	height: 350px;
}

#editmailingform .invoerblok {
	height: auto;
	min-height: 24px;
	max-height: 250px;
	margin-right: 0;
	padding-right: 0;
	overflow: visible;
}

#editmailingform button {
	float: left;
}

#editmailingform label#ccafdelingen, #editmailingform label#htmldirect, #editmailingform label#zonderbriefpapier {
	clear: none;
	margin-left: 6px;
	padding-left: 6px;
	width: auto;
}

#editmailingform li, #editmailingform li {
	height: 28px;
}

#mailing_instellingen label {
	width: 475px;
}

#mailing_instellingen input[type='text'] {
	width: calc(100% - 485px);
}

#editmailingvanaf input[type='text'] {
	width: 345px;
}

#mailing_instellingen .form-check-input {
	margin-left: 0;
}

#mailing_instellingen h2 {
	clear: both;
}

.invoerblok {
	float: left;
	clear: right;
	min-height: 28px;
	margin-bottom: 6px;
	margin-top: 3px;
	border-style: solid;
	border-width: 1px;
}

#algemeenlidmuteren label {
	width: 160px;
}

#nieuwlid label {
	width: 100px;
	clear: none;
}

#nieuwlid input {
	margin-right: 6px;
}

#eigenschappenlidmuteren {
	border-style: solid;
	border-width: 2px;
	border-color: var(--label-background-color);
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	float: right;
	margin-right: 4px;
	padding-left: 6px;
	padding-right: 6px;
	
}

#eigenschappenlidmuteren h2, #eigenschappenlidmuteren input {
	float: left;
	clear: left;
}

#eigenschappenlidmuteren h2 {
	border-bottom-style: solid;
	border-width: 1px;
	margin-left: 4px;
	margin-bottom: 4px;
}

#eigenschappenlidmuteren label {
	clear: right;
	color: var(--bs-body-color);
	background-color: transparent;
	padding-top: 0;
}

#eigenschappenlidmuteren .form-check-input {
	margin-left: 8px;
}

#algemeenlidmuteren textarea {
	float: left;
	margin-bottom: 6px;
}

#algemeenlidmuteren p {
	clear: none;
	float: left;
	padding-top: 2px;
}

#algemeenlidmuteren .form-check-input {
	margin-left: 0;
}

#diplomaslidmuteren .form-check-input {
	margin-left: 0;
}

#editinschrijving h2 {
	width: 100%;
	text-align: center;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-bottom: 9px;
}

#editinschrijving label {
	width: 200px;
}

#editinschrijving .form-check-input {
	margin-left: 0;
}

label#lblHuisletter, label#lblToevoeging {
	clear: none;
	width: auto;
	margin-left: 6px;
}

.attentie, p.attentie {
	color: red;
	font-weight: bold;
}

li.geenactiviteit {
	font-weight: bold;
}

.invoerblok table {
	width: 100%;
	border-style: none;
}

.invoerblok th {
	text-align: right;
}

.invoerblok th, .invoerblok td {
	color: #000080;
	background-color: #D3D3D3;
	border-style: none;
}

.invoerblok select {
	margin-top: 3px;
}

.copypaste {
	width: 100%;
	margin-top: 8px;
	border-style: solid;
	border-width: 1px;
	background-color: silver;
}

li.presstat_a {
	color: limegreen;
}

li.presstat_n, td.presstat_n {
	color: red;
	font-weight: bolder;
}

li.presstat_l, td.presstat_l {
	color: blue;
}

li.presstat_r, li.presstat_x, li.presstat_z, td.presstat_r, td.presstat_x, td.presstat_z {
	color: red;
}

li.presstat_t, td.presstat_t {
	color: orange;
}

li.presstat_v, td.presstat_v {
	color: gainsboro;
}

#presentielijst h1 {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}

#presentielijst p {
	clear: none;
	float: left;
	padding-top: 36px;
	padding-bottom: 1px;
	width: 48%;
	margin-right: 2%;
	border-bottom-style: solid;
	border-width: 1px;
}

table#presentielijst {
	clear: both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 20px;
}

#presentielijst tr {
	border-style: none;
}

#presentielijst th {
	text-align: center;
	font-size: 150%;
}

#presentielijst td {
	width: 48%;
	padding-top: 50px;
	padding-bottom: 1px;
	border-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	background-color: transparent;
	border-collapse: separate;
}

#overzichttoestemmingen td {
	text-align: center;
}

input#titellijst[type='text'] {
	width: 400px;
}

#overzichttoestemmingen td:first-child {
	text-align: left;
}

div.groepindelen {
	float: left;
	clear: none;
	border-width: 1px;
	margin-right: 8px;
	margin-bottom: 8px;
}

button.volgendegroep {
	clear: both;
	margin-left: 8px;
}

@media screen and (max-width: 1050px) {
	h1#naamwebsite {
		max-width: 300px;
	}
	
	input.w25, input.w30, input.w40, input.w45 {
		width: 165px;
	}
	
	input.w250 {
		width: 275px;
	}

	input.w60 {
		width: 260px;
	}
	
	input.w75 {
		width: 425px;
	}
	
	input.w90, textarea.w90 {
		width: 100%;
	}
	
	#filter input[type='text'] {
		width: 170px;
	}
	
	#filter #lbgroepfilter, #filter #bezitdiploma {
		display: none;
	}
	
	#afdelingskalendermuteren input.w75 {
		width: 350px;
	}
	
	#tab-agenda li {
		overflow: hidden;
		height: 22px;
	}
	
	#agenda .rijdagnaam {
		display: none;
	}
		
	table#presentiemuteren th.opmerking, table#presentiemuteren td.opmerking {
		display: none;
	}
	
	table#presentiemuteren {
		width: 100%;
	}
		
	#stukkenlijst th.revisiedatum, #stukkenlijst td.revisiedatum {
		display: none;
	}
	
	#eigenschappenlidmuteren {
		float: left;
	}
	
	label#lblEersteRekeningNummer, label#lblVerzamelenPerGezin, label#lblKostenplaats, label#lblKostenplaatsGezinskorting, label#lblBedragGezinskorting {
		clear: left;
	}
	
	#muteerevenement label#lblStarttijd, #muteerevenement label#lblDeelnemers {
		clear: left;
	}
	
	#muteerevenement th.ingevoerd, #muteerevenement td.ingevoerd {
		display: none;
	}
	
	#inschrijvenevenementen input.w250 {
		width: 350px;
	}
	
}  /* media screen and (max-width: 1050px) */

@media screen and (max-width: 750px) {
	/* Telefoon portrait */
	
	h1 {
		font-size: 125%;
	}
	
	#overzichtlid label {
		text-align: left;
		margin-top: 3px;
		margin-bottom: 0;
	}
	
	#overzichtlid h2 {
		display: none;
	}
	
	#overzichtlid p {
		clear: left;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 6px;
	}
	
	.kaartje {
		width: 100%;
	}
	
	.mailkaderlid {
		display: none;
	}
	
	#loginaanvraag, #login, #opvragenlidnr, #profielwijzigen, #opzegformulier {
		width: 96%;
	}
	
	#pasfoto, #welkomuser {
		display: none;
	}
	
	h1#naamwebsite {
		max-width: 50px;
		height: 26px;
	}
	
	#stukkenlijst th.zichtbaarvoor, #stukkenlijst td.zichtbaarvoor, #stukkenlijst th.ingangsdatum, #stukkenlijst td.ingangsdatum {
		display: none;
	}
	
	#tab-groepen table, #tab-diplomas table, #tab-presentie table {
		min-width: 250px;
	}
	
	table.onderdelenlid th.opmerking, table.onderdelenlid td.opmerking, table.onderdelenlid th.opgezegd, table.onderdelenlid td.opgezegd {
		display: none;
	}
	
	#tab-diplomas th.diplomanummer, #tab-diplomas td.diplomanummer {
		display: none;
	}
	
	#tab-rekeningen th.seizoen, #tab-rekeningen td.seizoen {
		display: none;
	}
	
	#tab-mailing th.van, #tab-mailing td.van {
		display: none;
	}
	
	#tab-evenementen th.contact, #tab-evenementen td.contact, #tab-evenementen th.opmerking, #tab-evenementen td.opmerking, #tab-evenementen th.inagenda, #tab-evenementen td.inagenda {
		display: none;
	}
	
	#tab-logboek th.ingelogdlid, #tab-logboek td.ingelogdlid {
		display: none;
	}
	
	#algemeenlidmuteren label#lblHuisletter, #algemeenlidmuteren label#lblToevoeging {
		clear: left;
		width: 160px;
		margin-left: 0;
	}
	
	#algemeenlidmuteren p#uitleg_gebdatum {
		display: none;
	}
	
	table#diplomaslidmuteren th.diplomanummer, table#diplomaslidmuteren td.diplomanummer, table#diplomaslidmuteren th.geldigtot, table#diplomaslidmuteren td.geldigtot {
		display: none;
	}

	table#afdelingslijst th.email, table#afdelingslijst td.email, table#afdelingslijst th.vanaf, table#afdelingslijst td.vanaf, table#afdelingslijst td.sportlinkid, table#afdelingslijst th.sportlinkid, table#afdelingslijst th.muteren, table#afdelingslijst td.muteren {
		display: none;
	}
	
	table#groepenmuteren th.nummer, table#groepenmuteren td.nummer, table#groepenmuteren th.aanwezigheidsnorm, table#groepenmuteren td.aanwezigheidsnorm, table#groepenmuteren th.codevolgnr, table#groepenmuteren td.codevolgnr, table#groepenmuteren th.activiteitdiploma, table#groepenmuteren td.activiteitdiploma {
		display: none;
	}
	
	#presentiemuteren select {
		max-width: 100px;
		margin-right: 0;
	}
	
	table#presentiemuteren th.aanwezig, table#presentiemuteren td.aanwezig {
		display: none;
	}
	
	#muteerevenement label#lblEindtijd, #muteerevenement label#lblVerzameltijd {
		clear: left;
	}
	
}  /* media screen and (max-width: 750px) */

@media print {
	body {
		font-size: 10pt;
	}
	
	#welkom, nav, #filter, footer, #opdrachtknoppen {
		display: none;
   }
   
   td {
	   background-color: transparent;
   }
  
	#container, #contrainerbreed, .container-xl {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
	
	#groepsindeling h2 {
		display: block;
		background-color: transparent;
	}
	
	.groepsindelingkolom {
		width: 170px;
	}
	
}  /* media print */

#tab-agenda li.jarigen {
	margin-top: inherit;
	font-style: italic;
}

#tab-agenda li.teams, #tab-agenda li.via_teams, p.teams, p.via_teams, td.teams, td.via_teams {
	color: #464EB8;
}

/* jQuery specifiek */

.ui-widget-content {
	color: inherit;
	font-size: inherit;
}

.ui-state-default a:link {
	color: #000080;
}

#tabs {
	color: inherit;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: var(--bs-body-color);
	padding-left: 4px;
	padding-right: 4px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header, .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	color: var(--bs-body-color);
	font-size: inherit;
	background-color: inherit;
	font-weight: bolder;
}

.handCursor {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	padding-left: 2px;
	padding-right: 2px;
}

.ui-tabs .ui-tabs-nav li {
	font-size: 11pt;
}
