body {
	font-family: Tahoma, Arial, Verdana, Helvetica;
	font-size: 9pt;
	color: #000080;
	border-width: 1px;
}

h1 {
	font-weight: bold;
	font-size: 18pt;
	margin-top: 2px;
	margin-bottom: 2px;
}

h2, h3 {
	margin-top: 9px;
	margin-bottom: 1px;
}

img {
	border-style: none;
}

tr {
	vertical-align: middle;
}

td, th {
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFF99;
	border-color: #000080;
	vertical-align: middle;
}

th {
	background-color: #00FFFF;
}

ul {
	margin-top: 1px;
	margin-bottom: 1px;
}

li {
	margin-left: 0;
	padding-left: 3px;
}

p {
	margin-top: 1px;
	margin-bottom: 6px;
}

label {
	width: 133px;
	height: 20px;
	float: left;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 4px;
	text-align: right;
}

footer, #footer {
	clear: both;
	background-color: #CFCFCF;
	width: 100%;
	height: 22px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-left: 0;
	padding-right: 0;
	font-style: italic;
	font-size: 8pt;
}

footer a, footer a:visited, #footer a, #footer a:visited {
	text-decoration: underline;
	color: #000080;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

#header {
	width: 100%;
	height: 90px;
	margin-bottom: 0;
	padding-top: 6px;
	padding-left: 0;
	padding-right: 0;
	background-color: #00FFFF;
	color: #000080;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
}

#header h1 {
	float: left;
	color: white;
	margin-top: 3px;
	padding-left: 4px;
}

.tabelkop {
	font-size: 11pt;
}

#header a + a:visited + a:hover {
	text-decoration: none;
	color: #000080;
}

#welkomstekst {
	padding-top: 8px;
	padding-left: 8px;
}

#kolomlinks, #kolomrechts {
	width: 470px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#kolomlinks {
	float: left;
	background-color: transparent;
}

#kolomrechts {
	float: right;
	clear: right;
}

#filter {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0;
	border-style: solid;
	border-color: #000080;
	border-width: 1px;
}

#formulier {
	position: relative;
}

#formulier table {
	min-width: 300px;
}

#pasfoto {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 12px;
	border-style: dashed;
	border-width: 1px;
	border-color: inherit;
	max-width: 325px;
	text-align: center;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
   border-bottom-right-radius: 12px;
   border-bottom-left-radius: 12px;
}

#pasfoto img {
	max-width: 300px;
}

#invulformulier table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#wijzigengegevens, #wijzigendiplomas, #nieuwepasfoto, #bijzonderhedenwijzigen, #inschrijvingbewaking, #inschrijvingevenementen, #onlinebestellingen, #opzegformulier, #profielwijzigen {
	padding-top: 8px;
}

#wijzigengegevens img {
	max-width: 250px;
}

#nieuwepasfoto {
	border-style: none;
	padding-left: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: auto;
	background-color: #FFFF99;
}

#nieuwepasfoto img {
	width: 390px;
	height: 500px;
	margin-bottom: 5px;
}

#nieuwepasfoto label {
	width: auto;
	height: 20px;
}

#nieuwepasfoto input {
	height: 25px;
}

#inschrijvingbewaking table {
	margin-left: auto;
	margin-right: auto;
}

.nietdefinitief {
	background-color: red;
	color: white;
}

.lijst {
	margin-top: 6px;
}

.lijst table {
	min-width: 450px;
}

.lijst td + th {
	padding-left: 6px;
	padding-right: 6px;
}

.datumtijd {
	min-width: 125px;
}

.logboek table {
	width: 100%;
}

.logboek td + th {
	padding-left: 3px;
	padding-right: 3px;
}

.inputnumber {
	width: 50px;
	text-align: right;
}

#artikelbeheer select {
	max-width: 180px;
}

#login {
	float: right;
	margin-top: 0;
	margin-right: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	text-align: left;
	border-left: 1px;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px;
	border-style: solid;
   border-bottom-left-radius: 9px;
}

#login img {
	height: 22px;
	width: 22px;
	border: 0;
	margin-left: 6px;
}

#loginaanvraag, #profielwijzigen, #opzegformulier {
	width: 364px;
	background-color: #00FFFF;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#loginaanvraag h3 {
	color: white;
	font-size: 14pt;
}

#loginaanvraag label {
	float: left;
}

#profielwijzigen {
	width: 380px;
}

#profielwijzigen label {
	width: 150px;
	float: left;
}

#opzegformulier {
	width: 432px;
}

#opzegformulier label {
	width: 210px;
	float: left;
}

#overzichtevenementen table {
	width: 100%;
	border-style: none;
}

#overzichtevenementen tr, #overzichtevenementen td, #overzichtevenementen th {
	background-color: transparent;
	border-style: none;
	text-align: left;
	border-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
}

#evenementenbeheer table {
	width: 100%;
}

fieldset {
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	border-color: #00FFFF;
	border-width: 0;
}

fieldset h3 {
	margin-bottom: 12px;
}

#loginaanvraag input, #profielwijzigen input, #opzegformulier input{
	width: 190px;
	height: 22px;
	float: right;
	clear: right;
	margin-left: 5px;
	margin-right: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	background-color: white;
}

#loginaanvraag label {
	height: 22px;
}

#loginaanvraag input.knop, #profielwijzigen input.knop, #opzegformulier input.knop {
	color: #000080;
	font-weight: bold;
	width: auto;
	height: auto;
	margin-top: 16px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	float: right;
	font-size: 11pt;
}

#verstuurdemail {
	margin-left: 1px;
	width: 100%;
	height: auto;
	clear: right;
	float: left;
}

#verstuurdemail .label, #verstuurdemail .veld{
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
	border-width: 1px;
}

#verstuurdemail .label {
	background-color: transparent;
	min-height: 23px;
	width: 90px;
	float: left;
}

#verstuurdemail .veld {
	min-height: 21px;
	width: 850px;
	float: right;
	margin-right: 0;
	border-style: solid;
}

#verstuurdemail li {
	margin-left: 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#openid {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
   border-bottom-right-radius: 12px;
   border-bottom-left-radius: 12px;
}

#openid h3 {
	margin-top: 1px;
}

#openid img {
	height: 12px;
}

.wieiswie-onderdeelnaam , .wieiswie-onderdeelemail, #bewakingsrooster h2, #bewakingsrooster h3 {
	margin-top: 15px;
	padding-top: 3px;
	padding-bottom: 1px;
	font-weight: bolder;
	font-size: 16pt;
}

.wieiswie-onderdeelnaam {
	float: left;
}

.wieiswie-onderdeelemail {
	float: right;
}

#bewakingsrooster h2, #postindeling h2 {
	padding-left: 4pt;
}

#bewakingsrooster h3, #postindeling h3 {
	background-color: #00FFFF;
	padding-left: 4pt;
}

#wieiswie a, #wieiswie a:visited, #bewakingsrooster a, #bewakingsrooster a:visited, #postindeling a, #postindeling a:visited {
	color: #000080;
	text-decoration: none;
}

#mailing table {
	width: 100%;
}

#footerleft {
	float: left;
	margin-top: 0;
	padding-left: 4px;
}

#footerright {
	float: right;
	margin-top: 0;
	padding-right: 4px;
}

#handleiding {
	font-size: 10pt;
	padding-top: 8px;
	padding-left: 8px;
}

#handleiding img {
	margin-top: 10px;
}

#handleiding ul {
	padding-left: 14px;
}

#handleiding li {
	margin-top: 4px;
	margin-bottom: 4px;
}

#opdrachtknoppen {
	margin-top: 8px;
	margin-bottom: 2px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
   border-bottom-right-radius: 12px;
   border-bottom-left-radius: 12px;
}

#bestellingbeheer table {
	width: 100%;
}

.totalenbestellingen {
	margin-top: 15px;
}

.totalenbestellingen table {
	margin-left: auto;
	margin-right: auto;
}

.clear {
	clear: both;
	height: 3px;
}

.label {
	text-align: right;
	background-color: #00FFFF;
}

.details {
	text-align: center;
}

.number {
	text-align: right;
}

.tablist1, .tablist2, .tablist3 {
   list-style: none;
   height: 24px;
   padding: 0; 
   margin: 0; 
   border: none;
}

.tablist2 ul, .tablist3 ul {
	width: 100%;
}

.tablist1 li, .tablist2 li, .tablist3 li {
   float: left;
	font-style: normal;
   display: block;
	padding-bottom: 1px;
	border-style: solid;
	border-width: 1px;
}

.tablist1 li {
	font-size: 9pt;
	min-width: 90px;
	margin-left: 2px;
   margin-right: 2px;
   padding-left: 5px;
	padding-right: 5px;
	height: 24px;
	font-style: normal;
	margin-top: 15px;
	padding-top: 11px;
	border-color: #cdcdcd;
   background-color: #cdcdcd;
   border-top-right-radius: 9px;
   border-top-left-radius: 9px;
}

.tablist2 li, .tablist3 li {
	font-size: 8pt;
	text-align: center;
	background-color: transparent;
	border-right-style: none;
	min-width: 85px;
	height: 18px;
	
	margin-top: 2px;
	margin-left: 0;
   margin-right: 0;
	
	padding-top: 4px;
   padding-left: 4px;
	padding-right: 4px;
}

.tablist2 li:first-child, .tablist3 li:first-child {
	border-left-style: none;
}

.tablist1 li.current {
   background-color: white;
	border-color: white;
}

.tablist2 li.current, .tablist3 li.current {
	font-weight: bolder;
}

.tablist1 li a, .tablist1 li a:visited, .tablist2 li a, .tablist2 li a:visited , .tablist3 li a, .tablist3 li a:visited  {
   text-decoration: none;
	color: #000080;
}

.tablist2 li:hover, .tablist3 li:hover  {
   background-color: #cdcdcd;
}

.done {
	text-decoration: line-through;
	color: green;
}

.mededeling, .mededeling a {
	font-size: 13pt;
	color: red;
	text-align: center;
}

.debug {
	font-size: 11pt;
	color: orange;
}

.listmergefields, .listrecipients {
   list-style: none;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	margin-top: 0;
}

.listmergefields li, .listrecipients li {
	float: left;
	width: 200px;
	margin-left: 1px;
	padding-left: 3px;
}

.listdeelnemers {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	text-align: left;
	margin-top: 0;
}

.listdeelnemers li {
	float: left;
	width: 215px;
	list-style-type: none;
	margin-left: 3px;
	margin-right: 3px;
}

.datumtijdevenement, .omschrijvingevenement {
	min-width: 125px;
}

.jarige {
	margin-top: 10px;
	height: 83px;
	line-height: 83px;
}

.jarige img, .kaartje img, .bewaker img {
	float: left;
	height: 82px;
	margin-right: 4px;
}

.kaartje, .bewaker {
	float: left;
	height: 82px;
	width: 310px;
	border-style: solid;
	border-width: 1px;
	border-left-style: none;
	margin-top: 10px;
	margin-left: 3px;
	margin-right: 3px;
	padding-right: 1px;
	background-color: #FFFF99;
   border-top-right-radius: 9px;
   border-bottom-right-radius: 9px;
}

.bewaker {
	width: 304px;
	margin-left: 6px;
	margin-right: 6px;
	padding-right: 3px;
}

.kaderlid p, .bewaker p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.naamkaderlid, .bewnaam {
	font-size: 10pt;
	font-weight: bolder;
	text-align: center;
}

.naamkaderlid {
	font-size: 11pt;
}

.functiekaderlid, .mailkaderlid {
	margin-left: 4px;
}

.bewfunctie {
	text-align: center;
}

.bewleeftijd {
	float: left;
	margin-top: 3px;
	margin-left: 4px;
}

.bewervaring {
	float: right;
	margin-top: 3px;
	text-align: right;
}

.chk {
	text-align: center;
}

.fotoinschrijving img {
	width: 40px;
}

.opmerkinginschrijving, .opmerkingweek {
	max-width: 200px;
}

#dbonderhoud p {
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 6px;
	border-style: solid;
	border-width: 1px;
	font-size: 11pt;
}

#instellingenmuteren td {
	padding-left: 5px;
	padding-right: 5px;
}

#instellingenmuteren .inputtext {
	width: 382px;
}

/* Elementen voor nieuw menu */

#nav {
	margin: 0;
	padding: 0;
}
#nav li {
	float: left;
	position: relative;
	list-style: none;
	
	min-width: 107px;
	height: 30px;
	
	margin-top: 15px;
	margin-left: 2px;
   margin-right: 2px;
	
	padding-top: 8px;
   padding-left: 0;
	padding-right: 0;
	
	border-color: transparent;
   background-color: #cdcdcd;
   border-top-right-radius: 9px;
   border-top-left-radius: 9px;
}

/* main level link */
#nav a {
	color: #000080;
	text-decoration: none;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0;
}

/* main level link hover */
#nav .current a {
	font-weight: bolder;
}

#nav li:hover > a {
	background-color: #0399d4;
	color: white;
	font-weight: normal;
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background-color: none;
	border: none;
	font-weight: normal;
}
#nav ul a:hover {
	background-color: #0399d4 !important; /* for non-css3 browsers */
	color: white !important;
}
/* level 2 list */
#nav ul {
	background: #ddd; /* for non-css3 browsers */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #b4b4b4;
}

/* dropdown */
#nav li:hover > ul {
	display: block;
	z-index: 2;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
}


/* Elementen voor treeview */

.css-treeview ul, .css-treeview li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.css-treeview input 	{
	position: absolute;
	opacity: 0;
}

.css-treeview {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.css-treeview a {
	color: #00f;
	text-decoration: none;
}

.css-treeview a:hover {
	text-decoration: underline;
}

.css-treeview input + label + ul {
	margin: 0 0 0 22px;
}

.css-treeview input + label + ul {
	display: none;
}

.css-treeview label, .css-treeview label::before {
	cursor: pointer;
}

.css-treeview input:disabled + label {
	cursor: default;
	opacity: .6;
}

.css-treeview input:checked:not(:disabled) + label + ul {
	display: block;
}

.css-treeview label, .css-treeview label::before {
	background: url("icons.png") no-repeat;
}

.css-treeview label, .css-treeview a, .css-treeview label::before {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}

.css-treeview label {
	background-position: 18px 0;
}

.css-treeview label::before {
	content: "";
	width: 16px;
	margin: 0 22px 0 0;
	vertical-align: middle;
	background-position: 0 -32px;
}

.css-treeview input:checked + label::before {
	background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.css-treeview {
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
	}
			
	@-webkit-keyframes webkit-adjacent-element-selector-bugfix {
		from { 
			padding: 0;
		} 
		to  { 
			padding: 0;
		}
	}
}

/* Einde elementen voor treeview */
