<p>Beste [%ROEPNAAM%],</p>

<p>Bedankt voor je inschrijving voor de strandbewaking op Texel. Wij hebben de volgende inschrijving van je genoteerd:<p>
<ul>
[%BEWINSCHRIJVING%]
</ul>
<p>[%BEWOPMERKING%]</p>
<p>Mocht deze inschrijving niet correct zijn, dan kan je zolang de inschrijving open is, deze nog wijzigen via <a href='http://[%URLWEBSITE%]'>[%URLWEBSITE%]</a>.</p>

<p>Bij de inschrijving heb je opgegeven dat je de volgende diploma's bezit:</p>
<ul>
[%BEWDIPLOMAS%]
</ul>
Voor de diploma's geldt dat je ze altijd kan wijzigen via bovengenoemde website.

<p>Met vriendelijke groeten,<br>
<strong>Commissie Strandzaken</strong></p>
