<p>Beste [%ROEPNAAM%],</p>
<p>Bedankt voor je inschrijving voor de strandbewaking op Texel. Je hebt je ingeschreven voor de volgende weken in het bewakingsseizoen 2012:
[%BEWINSCHRIJVING%]</p>
<p>[%BEWOPMERKING%]</p>
<p>Mocht deze inschrijving niet correct zijn, dan kan je zolang de inschrijving open is, deze nog wijzigen via [%URLWEBSITE%].</p>
<p>Bij de inschrijving heb je opgegeven dat je de volgende diploma's bezit:
[%BEWDIPLOMAS%] 
Voor de diploma's geldt dat je ze altijd kan wijzigen via bovengenoemde website.</p>

<p>Na 1 mei kun je de definitieve bevestiging van je inschrijving verwachten.</p>

<p>Met vriendelijke groet,</p>

<p><strong>Commissie Strandzaken<br>
[%NAAMVERENIGING%]</strong>
</p>