<!DOCTYPE HTML>
<html>
	<head>
		<title>[%SUBJECT%]</title>
		<link rel='stylesheet' href='http://phprbm.telling.nl/stylesheets/default.css'>
	</head>
	<body>
		
	<div id="container">
		<div id="header">
			<div id="logo">
			</div> <!--Einde logo -->
			
			<div id="bestuurindeling">
				<p><label>Voorzitter:</label>Piet Hamer</p>
				<p><label>Secretaris:</label>Jan de Schrijver</p>
				<p><label>Penningmeester:</label>Klaas Teller</p>
				<p><label>Bankrelatie:</label>Grijpgraag</p>
				<p><label>Website:</label><a href='http://phprbm.telling.nl/'>phpRBM</a></p>
			</div>  <!--Einde bestuurindeling -->
		</div> <!--Einde header -->
		
		<div id="onderwerp">
			<p><label>Aan:</label>[%TONAAM%]</p>
			<p><label>Onderwerp:</label>[%SUBJECT%]</p>
		</div> <!--Einde onderwerp-->
			
		<div id="bericht">
[%HTMLBERICHT%]
		</div> <!--Einde bericht -->
	</div> <!--Einde container -->
	
	</body>
</html>
