<p>[%NAAMLID%]<br>
[%ADRES%]<br>
[%POSTCODE%]  [%WOONPLAATS%]</p>
<br>

<p>Beste [%ROEPNAAM%],</p>
<p>Bedankt voor je inschrijving voor de strandbewaking. Je hebt je ingeschreven voor de volgende weken:</p>
<ul>
[%BEWINSCHRIJVING%]
</ul>
<p>[%BEWOPMERKING%]</p>
<p>Mocht deze inschrijving niet correct zijn, dan kan je zolang de inschrijving open is, deze nog wijzigen via [%URLWEBSITE%].</p>
<p>Bij de inschrijving heb je opgegeven dat je de volgende diploma's bezit:</p>
<ul>
[%BEWDIPLOMAS%] 
</ul>
<p>Voor de diploma's geldt dat je ze altijd kan wijzigen via bovengenoemde website.</p>

<p>Na 1 mei kun je de definitieve bevestiging van je inschrijving verwachten.</p>

<p>Met vriendelijke groet,</p>

<p><strong>[%NAAMVERENIGING%]</strong>
</p>