<p>[%NAAMDEBITEUR%]<br>
[%ADRES%]<br>
[%POSTCODE%]  [%WOONPLAATS%]</p>
<br>
<p>??, [%REKENINGDATUM%]</p>
<br>
<p><u>Betreft: Rekening [%REKENINGNUMMER%]</u></p>
<br>
<div id='rekeningregels'>
<table>
<tr><th>Regel</th><th>Omschrijving</th><th>Lid</th><th class='number'>Bedrag in &euro;</th></tr>
[%REKENINGREGELS%]
<tr><td colspan=3>Rekening totaal</td><td class='number'>[%REKENINGBEDRAG%]</td></tr>
<!-- NietOpNulRekening -->
<tr><td colspan=3>Reeds betaald</td><td class='number'>[%BETAALD%]</td></tr>
<tr><td colspan=3>Openstaand bedrag</td><td class='number'>[%OPENSTAAND%]</td></tr>
<!-- /NietOpNulRekening -->
</table>
</div> <!-- Einde rekeningregels -->

<!-- NietOpCredit -->
<!-- NietOpNulRekening -->
<p>Bovenstaand bedrag gelieve vóór [%UITERSTEBETAALDATUM%] over te maken op bankrekeningnummer ?? van ?? onder vermelding van rekeningnummer [%REKENINGNUMMER%].</p>
<p>U mag deze rekening in twee termijnen voldoen. In dat geval dient u bovenstaand bedrag te halveren en de eerste helft voor [%UITERSTEBETAALDATUM%] en de tweede helft voor 1 februari 2019 te betalen.</p>
<!-- /NietOpNulRekening -->
<!-- /NietOpCredit -->

<!-- NietOpDebet -->
<!-- NietOpNulRekening -->
<p>Bovenstaand bedrag wordt zo spoedig mogelijk aan u overgemaakt. Wil u het het bankrekeningnummer hiervoor per e-mail doorgeven, dit kan per mail op emailadres ??.</p>
<!-- /NietOpNulRekening -->
<!-- /NietOpDebet -->

<!-- NietOpCredit -->
<!-- NietOpNulRekening -->
<p>Indien u een andere betalingsregeling wenst of een vraag over deze rekening heeft, kunt u contact met onze penningmeester opnemen. Dit kan per mail op emailadres ??.</p>
<!-- /NietOpNulRekening -->
<!-- /NietOpCredit -->

<!-- NietOpDebet -->
<p>Indien u een vraag over deze rekening heeft, kunt u contact met onze penningmeester opnemen. Dit kan per mail op emailadres ??.</p>
<!-- /NietOpDebet -->

<p>Met vriendelijke groeten,</p>

<p><strong>Het bestuur van [%NAAMVERENIGING%]</strong></p>
