<p>[%NAAMDEBITEUR%]<br>
[%ADRES%]<br>
[%POSTCODE%]  [%WOONPLAATS%]</p>
<br>
<p>Mijdrecht, [%REKENINGDATUM%]</p>
<br>
<p><u>Betreft: Contributierekening voor het seizoen 2012</u></p>
<br>
<div id='rekeningregels'>
<table>
<tr><th>Regel</th><th>Omschrijving</th><th>Lid</th><th class='number'>Bedrag in &euro;</th></tr>
[%REKENINGREGELS%]
<tr><td colspan=3>Rekening totaal</td><td class='number'>[%REKENINGBEDRAG%]</td><tr>
<tr><td colspan=3>Reeds betaald</td><td class='number'>[%BETAALD%]</td><tr>
<tr><td colspan=3>Openstaand bedrag</td><td class='number'>[%OPENSTAAND%]</td><tr>
</table>
</div> <!-- Einde rekeningregels -->
<p>Deze rekening dient op [%UITERSTEBETAALDATUM%], onder vermelding van rekeningnummer [%REKENINGNUMMER%], volledig betaald te zijn.</p>

<p>Indien u een andere betalingsregeling wenst of een vraag over deze rekening heeft kunt u contact met de <a href='mailto:[%VANAFADRES%]'>[%VANAFNAAM%]</a> opnemen.</p>

<p><strong>Het bestuur van [%NAAMVERENIGING%]</strong></p>
