<p>[%NAAMDEBITEUR%]<br>
[%ADRES%]<br>
[%POSTCODE%]  [%WOONPLAATS%]</p>
<br>
<p>Mijdrecht, [%REKENINGDATUM%]</p>
<br>
<p><u>Betreft: [%REKENINGOMSCHRIJVING%] [%REKENINGNUMMER%]</u></p>
<br>
<div id='rekeningregels'>\n
<table>
<tr><th>Regel</th><th>Omschrijving</th><th>Lid</th><th class='number'>Bedrag in &euro;</th></tr>
[%REKENINGREGELS%]
<tr><th colspan=3>Totaal</th><th class='number'>[%REKENINGBEDRAG%]</th><tr>
</table>
</div> <!-- Einde rekeningregels -->
<p>Deze rekening wordt rond [%UITERSTEBETAALDATUM%] middels automatische incasso van bankrekening [%BANKREKENING%] afgeschreven, tenzij je hiervoor een bezwaar hebt ingediend.</p>

<p>Indien u een andere betalingsregeling wenst of een vraag over deze rekening heeft kunt u contact met de penningmeester opnemen.</p>

<p><strong>Het bestuur van [%NAAMVERENIGING%]</strong></p>
