<p>Beste [%ROEPNAAM%],</p>
<p>Welkom bij phpRBM! Een website waarin leden hun eigen gegevens kunnen bekijken. Ook kan het kader van de vereniging nog een aantal praktische zaken doen. De gegevens voor de website komen uit de database <a href='http://software.telling.nl'>ST-RBM</a>. De ontwikkeling is op dit moment zover dat er getest kan worden.</p>

<p>Voor meer informatie bekijk de <a href='https://software.telling.nl/phpRBM/uitleg.php'>handleiding</a>.</p>

<!-- Ingelogd -->
<p>De database is totenmet [%LAATSTGEWIJZIGD%] bijgewerkt en op dit moment zijn de volgende personen ingelogd: [%NUINGELOGD%]. Op [%LAATSTEUPLOAD%] is de laatste upload vanuit de Access-database gedaan.</p>
<!-- /Ingelogd -->

<!-- Ingelogd -->
De volgende evenementen komen eraan: [%KOMENDEEVENEMENTEN%]
<h3>Verjaardagen</h3>
[%VERJAARFOTO%]

<h3>Mededelingen</h3>
<p>Je volgende diploma's/PvB's zijn recent vervallen of komen binnenkort te vervallen:
<ul>
[%VERVALLENDIPLOMAS%]
</ul></p>
<!-- /Ingelogd -->

<p>Met vriendelijke groeten,</p>
<p><strong>Uw bouwer</strong></p>

<div id='kolomrechts'>

</div>  <!-- Einde kolomrechts -->
